:root {
  /* ====================== colors */
  --color__one: #f1f6f9;
  --color__two: #394867;
  --color__three: #212a3e;
  --color__four: #9ba4b5;
  /* basics */
  --color__background: var(--color__one);
  --color__text: var(--color__three);
  /* header and footer */
  --color__header-background: var(--color__two);
  --color__header-contrast: var(--color__one);
  /* headings */
  --color__headings--primary: var(--color__one);
  --color__headings--secondary: var(--color__two);
  /* button*/
  --color__button--primary: var(--color__two);
  --color__button--secondary: var(--color__one);
  /* section */
  --color__seciton--border: var(--color__three);

  /* ====================== z-index */
  --z-index__header: 100;

  /* ====================== sizes */
  --height__header: 75px;
}
