footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-index__footer);

  width: 100%;
  height: var(--height__footer);

  @include flexCenter;

  background-color: var(--color__footer-background);
  color: var(--color__footer-contrast);

  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;

  .footer__new-entry-btn {
    position: relative;
    display: block;
    margin: auto;

    color: var(--color__header-contrast);
    border-color: var(--color__header-contrast);
  }
}
