.section {
  max-width: 970px;
  margin: auto;
  margin-top: 15px;
  @include flexCenter;
  flex-direction: column;
  gap: 15px;

  &__header {
    background-color: var(--color__headings--secondary);
    color: var(--color__headings--primary);
    padding: 2px 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
  }

  .section__date,
  .section__planed-time,
  .section__breaks {
    @include flexCenter;
    gap: 30px;
    width: fit-content;
    align-items: center;

    & h3 {
      text-align: right;
    }
  }

  &__controlls {
    @include flexCenter;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0;

    padding-top: 15px;
    border-top: 2px solid var(--color__seciton--border);
  }
}

.disabled {
  .section__date,
  .section__planed-time,
  .section__breaks,
  .section__overview,
  .section__controlls {
    display: none;
  }
}
