.section {
  max-width: 970px;
  margin: auto;
  margin-top: 15px;

  &__header {
    background-color: var(--color__headings--secondary);
    color: var(--color__headings--primary);
    padding: 2px 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
  }

  &__basics {
    @include flexCenter;
    flex-direction: column;
    gap: 15px;

    padding-bottom: 15px;
    border-bottom: 2px solid var(--color__seciton--border);

    & div {
      @include flexCenter;
      gap: 30px;
      width: 100%;
      align-items: center;

      & h3 {
        text-align: right;
      }
    }
  }

  &__controlls {
    @include flexCenter;
    justify-content: space-evenly;
    margin: 10px 0;

    padding-top: 15px;
    border-top: 2px solid var(--color__seciton--border);
  }
}

.disabled {
  .section__basics {
    display: none;
  }
  .section__overview {
    display: none;
  }
  .section__controlls {
    display: none;
  }
}
