h1,
h2,
h3 {
  text-align: center;
}

h1 {
  background-color: var(--color__headings--secondary);
  color: var(--color__headings--primary);
  padding: 2px 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
}
