section {
  max-width: 970px;
  margin: auto;
  margin-top: 15px;
  padding: 0 10px;

  .section__header {
    background-color: var(--color__headings--secondary);
    color: var(--color__headings--primary);
    padding: 2px 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
  }

  .planner {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color__hr);
    @include flexCenter;
    flex-direction: column;
    gap: 15px;

    & div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      width: 100%;
      align-items: center;

      & h3 {
        text-align: right;
      }
    }
  }

  input {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 1.5rem;
    border: 2px solid var(--color__button--primary);
    border-radius: 0;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--color__button--primary);
    width: fit-content;
  }

  table {
    margin-top: 20px;
    width: 100%;
    text-align: center;

    th,
    td {
      width: 50%;
    }

    th {
      font-size: 1.2rem;
    }

    td {
      padding: 5px 0;
    }
  }

  .controlls {
    @include flexCenter;
    justify-content: space-evenly;
    margin: 15px 0;

    padding-top: 15px;
    border-top: 2px solid var(--color__hr);
  }
}

.disabled {
  .planner {
    display: none;
  }
  .overview {
    display: none;
  }
  .controlls {
    display: none;
  }
}
