:root {
  /* colors general */
  --color__one: #363062;
  --color__two: #435585;
  --color__three: #818fb4;
  --color__four: #f5e8c7;

  /* colors detail */
  --color__background: var(--color__four);
  --color__text: var(--color__one);
  --color__header--background: var(--color__one);
  --color__header--text: var(--color__four);

  /* sizes */
  --header-height: 100px;
  --footer-height: 100px;
}
